<div class="page" id="home-section">

    <!-- Preloader -->
    <div class="preloader">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>


    <!--  -->
    <!-- Started Background -->
    <!-- <div style="z-index: 1 ;width: 100%;height: 350px;"> -->
    <!-- <div style="z-index: 1 ;width: 100%;height: 30%;"> -->
    <!-- <div style="z-index: 1 ;width: 100%;height: 565px;"> -->
    <div style="z-index: 1 ;width: 100%;height: 380px;">  
     <!-- <div style="z-index: 1 ;width: 100%;height: 5% !important;">   -->   

        <!-- <img src="../assets/imagenes/portada.jpg" width="100%" height="100%" alt=""> -->
        <!-- <img src="../assets/imagenes/fondo.jpg" width="100%" height="100%" alt=""> -->
        <!-- <img src="../assets/imagenes/portada.jpg" width="100%" height="350px" alt=""> -->
        <!-- <img src="../assets/imagenes/portada.jpg" width="100%" height="565px" alt=""> -->
        <!-- <img src="../assets/imagenes/portada.jpg" width="100%" height="400px" alt=""> -->
        <!-- <img src="../assets/imagenes/portada.jpg" width="100%" height="100%;" alt=""> -->
        <!-- <img src="../assets/imagenes/portada.jpg" width="100%" height= "200%"  alt=""> -->
        <img src="../assets/imagenes/portada.jpg" width="100%" height= "100%"  alt="">
    </div>

    <!-- Header -->
    <header>
        <div class="top-menu">
            <ul>
                <li class="active">
                    <a class="btn_animated" href="#home-section"><span class="circle">Home</span></a>
                </li>
                <li>
                    <a class="btn_animated" href="#about-section"><span class="circle">About</span></a>
                </li>
                <li>
                    <a class="btn_animated" href="#skills-section"><span class="circle">Skills</span></a>
                </li>
                <li>
                    <a class="btn_animated" href="#experience-section"><span class="circle">Experience</span></a>
                </li>
                <li>
                    <a class="btn_animated" href="#service-section"><span class="circle">Services</span></a>
                </li>
                <li>
                    <a class="btn_animated" href="#education-section"><span class="circle">Education</span></a>
                </li>
                <li>
                    <a class="btn_animated" href="#works-section"><span class="circle">Portfolio</span></a>
                </li>
                <li>
                    <a class="btn_animated" href="#certicate-section"><span class="circle">Certificados</span></a>
                </li>
               <!--  <li>
                    <a class="btn_animated" href="#client-section"><span class="circle">Referencias</span></a>
                </li> -->
                <!-- <li>
                    <a class="btn_animated" href="#blog-section"><span class="circle">Blog</span></a>
                </li> -->
                <li>
                    <a class="btn_animated" href="#contact-section"><span class="circle">Contact Me</span></a>
                </li>
            </ul>
            <a href="#" class="menu-btn"><span></span></a>
        </div>
    </header>

    <div style="z-index: 2;background-color: #f8efef;">
        <!-- Container -->
        <div class="container">

            <!-- Started -->
            <div class="section started" >
                <div class="st-box">
                    <div class="st-bts">

                    </div>
                    <div class="st-image st-image-br"><img src="../assets/imagenes/breiner.jpg" alt="" /></div>
                    <div class="st-title st-title-br">Breiner Correa</div>
                    <div class="st-subtitle st-subtitle-br" style="font-size: 20px;">Ingeniero de Sistemas & Full Stack - Developer</div>
                    <div class="st-soc st-soc-br">
                        <a target="blank" href="https://www.facebook.com/" class="btn_animated">
                            <span class="circle"><i class="icon ion ion-social-facebook"></i></span>
                        </a>
                        <a target="blank" href="https://github.com/" class="btn_animated">
                            <span class="circle"><i class="icon ion ion-social-github"></i></span>
                        </a>
                        <a target="blank" href="https://twitter.com/" class="btn_animated">
                            <span class="circle"><i class="icon ion ion-social-twitter"></i></span>
                        </a>
                        <a href="skype:smorgan" class="btn_animated">
                            <span class="circle"><i class="icon ion ion-social-skype"></i></span>
                        </a>
                        <a target="blank" href="https://plus.google.com/" class="btn_animated">
                            <span class="circle"><i class="icon ion ion-social-googleplus"></i></span>
                        </a>
                    </div>
                </div>

                <!-- <div class="content-box" style="width: 40%;height: 300 px;margin: auto;background-color: black;"> -->
                <!-- <div class="content-box">

                        <div class="st-box" style="margin-top: 28px;">

                            <div class="st-image st-image-br"><img src="../assets/imagenes/breiner.jpg" alt="" /></div>
                            <div class="st-title st-title-br">Breiner Correa</div>
                            <div class="st-subtitle st-subtitle-br">Ingeniero de Sistema & Full Stack - Developer</div>
                            <div class="st-soc st-soc-br">
                                <a target="blank" href="https://www.facebook.com/" class="btn_animated">
                                    <span class="circle"><i class="icon ion ion-social-facebook"></i></span>
                                </a>
                                <a target="blank" href="https://github.com/" class="btn_animated">
                                    <span class="circle"><i class="icon ion ion-social-github"></i></span>
                                </a>
                                <a target="blank" href="https://twitter.com/" class="btn_animated">
                                    <span class="circle"><i class="icon ion ion-social-twitter"></i></span>
                                </a>
                                <a href="skype:smorgan" class="btn_animated">
                                    <span class="circle"><i class="icon ion ion-social-skype"></i></span>
                                </a>
                                <a target="blank" href="https://plus.google.com/" class="btn_animated">
                                    <span class="circle"><i class="icon ion ion-social-googleplus"></i></span>
                                </a>
                            </div>
                        </div> 

                </div> -->
            </div>

            <!-- Wrapper -->
            <div class="wrapper">

                <!-- Section About -->
                <div class="section about" id="about-section">
                    <div class="content-box">
                        <div class="row">
                            <div class="col col-sm-12 col-md-5 col-lg-5">
                                <div class="info-list">
                                    <ul style="list-style: none;">                       
                                        <li><strong><span>Trabajo:</span></strong> Full Stack Developer </li>
                                        <li><strong><span>Ciudadania:</span></strong> Peruana</li>
                                        <li><strong><span>Celular:</span></strong> <a href="tel:12562548456">+51 997 072
                                                900</a></li>
                                        <li><strong><span>E-mail:</span></strong> <a
                                                href="mailto:smorgan@domain.com">breinerbca2015@gmail.com</a>
                                        </li>
                                        <li style="text-align: center;"><strong><span>Universidad:</span></strong> <img src="../assets/imagenes/unmsm.png" width="30px" height="30px" alt=""> <br> Universidad Nacional Mayor de San Marcos </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-m-12 col-t-7 col-d-7">
                                <div class="text-box">
                                    <p><strong>Hola! Soy Breiner Correa Atucsa</strong></p>
                                    <!-- <p>
                                        Soy una persona apasionada a la programacion tanto backend como frontend,con
                                        capacitaciones constantes de nuevas tecnologias , poniendo mi mejor empeño para
                                        que los proyectos salgan lo mejor posible
                                    </p> -->
                                    <p>
                                        Ingeniero de Sistemas con más de 2 años de experiencia.
                                        Conocimientos en frontend(Angular, React, LitElement, CCS3, HTML5) y backend(Java, Spring, RxJava,
                                        Spring WebFlux, nodeJs,python); en aplicaciones para sectores de banca, medicina y sector publico
                                    </p>
                                    <p>
                                        Me considero una persona apasionada por la programación tanto front como back. En constante aprendizaje y capacitación de las tecnologías más recientes.
                                    </p>
                                    <p>
                                        Busco integrar equipos multidisciplinarios, donde pueda mejorar mis conocimientos en integracion y despliegue continuo, contenedores y plataformas cloud.
                                    </p>
                                </div>
                                <div class="bts">
                                    <a href="assets/CV.pdf" download class="btn btn_animated"><span class="circle">Descargar CV</span></a>
                                    <a href="https://wa.me/51997072900?text=Hola%20BREINER%20CORREA" class="btn btn_animated">
                                        <span style="cursor: pointer;" class="circle">Contactame <i  class="fab fa-whatsapp  text-success"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Section Skills -->
                <div class="section skills" id="skills-section">
                    <div class="title title-skills">Skills</div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-d-6" style="margin-bottom: 20px;">
                            <div class="content-box animated">
                                <div class="i_title">
                                    <div class="icon">
                                        <img class="image-br" src="../assets/imagenes/skills/languajes.png"
                                            alt="languajes" />
                                    </div>
                                    <div class="name">Languajes</div>
                                </div>
                                <div class="skills">
                                    <ul>
                                        <li>
                                            <div class="name">Java</div>

                                            <div class="progress">
                                                <div class="percentage" style="width:90%;">
                                                    <span class="percent"> <i
                                                            class="icon ion ion-ios-checkmark-empty "></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Javascript</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:70%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Python</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:75%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-d-6" style="margin-bottom: 20px;">
                            <div class="content-box animated">
                                <div class="i_title">
                                    <div class="icon">
                                        <img class="image-br" src="../assets/imagenes/skills/database.png"
                                            alt="languajes" />
                                    </div>
                                    <div class="name">Databases</div>
                                </div>
                                <div class="skills">
                                    <ul>
                                        <li>
                                            <div class="name">Oracle</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:90%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Mongo Db</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:60%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Sql Server</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:84%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-d-6" style="margin-bottom: 20px;">
                            <div class="content-box animated">
                                <div class="i_title">
                                    <div class="icon">
                                        <img class="image-br" src="../assets/imagenes/skills/frameworsk.png"
                                            alt="languajes" />
                                    </div>
                                    <div class="name">Frameworsk</div>
                                </div>
                                <div class="skills">
                                    <ul>
                                        <li>
                                            <div class="name">Spring</div>

                                            <div class="progress">
                                                <div class="percentage" style="width:90%;">
                                                    <span class="percent"> <i
                                                            class="icon ion ion-ios-checkmark-empty "></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Angular</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:70%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Express</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:75%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-d-6" style="margin-bottom: 20px;">
                            <div class="content-box animated">
                                <div class="i_title">
                                    <div class="icon">
                                        <img class="image-br" src="../assets/imagenes/skills/infraestructura.png"
                                            alt="languajes" />
                                    </div>
                                    <div class="name">Databases</div>
                                </div>
                                <div class="skills">
                                    <ul>
                                        <li>
                                            <div class="name">Azure</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:90%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Google Cloud</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:60%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Docker hub</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:84%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-d-6">
                            <div class="content-box animated">
                                <div class="i_title">
                                    <div class="icon">
                                        <i class="fab fa-jenkins fa-2x text-white"></i>
                                        <!-- <i class="fas fa-cubes fa-2x text-white"></i> -->
                                    </div>
                                    <div class="name">Integracion Continua</div>
                                </div>
                                <div class="skills">
                                    <ul>
                                        <li>
                                            <div class="name">Github</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:90%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Jenkins</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:60%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Docker</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:84%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-d-6">
                            <div class="content-box animated">
                                <div class="i_title">
                                    <div class="icon">
                                        <!-- <i class="fab fa-jenkins fa-2x text-white"></i> -->
                                        <img src="../assets/imagenes/skills/actitu.svg" alt="languajes" style="width: 30px !important; height: 30px;margin-top: -5px;"/>
                                        <!-- <i class="fas fa-cubes fa-2x text-white"></i> -->
                                    </div>
                                    <div class="name">Actitudes</div>
                                </div>
                                <div class="skills">
                                    <ul>
                                        <li>
                                            <div class="name">Dinámico</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:90%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Responsable</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:60%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="name">Proactivo</div>
                                            <div class="progress">
                                                <div class="percentage" style="width:84%;">
                                                    <span class="percent"><i
                                                            class="icon ion ion-ios-checkmark-empty"></i></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience -->
                <div class="section experience" id="experience-section">
                    <div class="title">
                        Experience
                        <span class="circle"><i class="icon ion ion-ios-briefcase"></i></span>
                    </div>
                    <app-experiencias [entrada]="true"></app-experiencias>
                </div>

                <!-- Service -->
                <div class="section service" id="service-section">
                    <div class="title">Services</div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-d-6" *ngFor="let servicio of servicios">
                            <app-servicio [servicio]="servicio"></app-servicio>
                        </div>
                    </div>
                </div>

                <!-- Section Education -->
                <div class="section education" id="education-section">
                    <div class="title">
                        Education
                        <span class="circle"><i class="icon ion ion-university"></i></span>
                    </div>
                   <!--  <app-experiencias [entrada]="false"></app-experiencias> -->
                    
                    <div class="cd-timeline">
                        <div class="cd-timeline-block animated" >
                            <div>
                                <div class="cd-timeline-point">
                                    <i class="icon ion ion-ios-checkmark-empty"></i>
                                </div>
                                <div class="cd-timeline-content">
                                    <div class="content-box">
                                        <div class="date">2017 </div>
                                        <div class="name"  style="color: #304fff;"><h3>Universidad Nacional Mayor de San Marcos </h3></div>
                                        <div class="category" style="color: #304fff;">Ingeniero de Sistemas</div>
                                        <p style="display: block;">
                                            Egresado de la Facultad FISI de Ingenieria de Sistemas en la cual estuve en el tercio superior,
                                            y representante de la Universidad en multiples competencias Nacionales
                                        </p>             
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio -->
                <div class="section works" id="works-section">
                    <div class="title">Portfolio</div>
                    <div class="filter-menu">
                        <div class="filters">
                            <div class="btn-group">
                                <div class="f_btn btn_animated active">
                                    <div class="circle">
                                        <label><input type="radio" name="fl_radio" value="box-item" />All</label>
                                    </div>
                                </div>
                                <div class="f_btn btn_animated">
                                    <div class="circle">
                                        <label><input type="radio" name="fl_radio" value="f-mockup" />Frontend</label>
                                    </div>
                                </div>
                                <div class="f_btn btn_animated">
                                    <div class="circle">
                                        <label><input type="radio" name="fl_radio" value="f-graphic" />Backend</label>
                                    </div>
                                </div>
                                <div class="f_btn btn_animated">
                                    <div class="circle">
                                        <label><input type="radio" name="fl_radio" value="f-icons" />Proyectos
                                            Personales</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-cards></app-cards>
                    <div class="clear"></div>
                </div>

                <!-- Section Certificados -->
                <div class="section clients" id="certicate-section">
                    <div class="title">Certificados</div>
                    <div class="reviews-carousel animated" style="background-color: #f8efef;">
                        <div class="owl-carousel">
                            <div class="item " style="background-color: #f8efef;">
                                <div class="content-box padre">
                                    <div class="reviews-item hijo">
                                        <div class="row bg-primar">
                                            <div class="col-lg-3 col-md-3 col-sm-12  certificado">
                                                
                                                <a target="_blank" href="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-BreinerRoiserCorreaAtucsa-902335.pdf">
                                                    <img src="../assets/imagenes/scrum-study.png" alt="" height="100px" width="100px">
                                                </a>
                                                <p>
                                                    <a target="_blank"
                                                        href="https://www.credly.com/badges/77f5f309-c7d1-4153-b802-2a4c2d1be222?source=linked_in_profile">ver</a>
                                                </p>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-12  certificado">
                                                <a target="_blank" href="https://www.credly.com/badges/77f5f309-c7d1-4153-b802-2a4c2d1be222?source=linked_in_profile">
                                                    <img src="../assets/imagenes/certi-prof.png" alt="" height="100px" width="100px">
                                                </a>
                                                <p>
                                                    <a target="_blank"
                                                        href="https://www.credly.com/badges/77f5f309-c7d1-4153-b802-2a4c2d1be222?source=linked_in_profile">ver</a>
                                                </p>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-12  certificado">
                                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/G33AF92DK6QA">
                                                    <img src="../assets/imagenes/insignia.png" alt="" height="100px" width="100px">
                                                </a>                                 
                                                <p>
                                                    <a target="_blank"
                                                        href="https://www.coursera.org/account/accomplishments/certificate/G33AF92DK6QA">ver</a>
                                                </p>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-12  certificado">
                                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/USGXS67ET6S9">
                                                    <img src="../assets/imagenes/insignia2.png" alt="" height="100px" width="100px">
                                                </a>                                         
                                                <p>
                                                    <a target="_blank"
                                                        href="https://www.coursera.org/account/accomplishments/certificate/USGXS67ET6S9">ver</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>              
                        </div>
                    </div>
                </div>

                <!-- Section Clients -->
                <!-- <div class="section clients" id="client-section">
                    <div class="title">Referencias</div>
                    <div class="reviews-carousel animated">
                        <div class="owl-carousel">
                            <div class="item">
                                <div class="content-box">
                                    <div class="reviews-item">
                                        <div class="image"><img src="../assets/imagenes/breiner.jpg" alt="" /></div>
                                        <div class="name">— Robert Chase, CEO</div>
                                        <p>
                                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et
                                            tortor ac tincidunt.
                                            In euismod
                                            iaculis lobortis. Vestibulum posuere molestie ipsum vel. Vestibulum
                                            venenatis vestibulum elit
                                            ultricies.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et
                                            tortor ac tincidunt.
                                            In euismod
                                            iaculis lobortis."
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content-box">
                                    <div class="reviews-item">
                                        <div class="image"><img src="../assets/imagenes/breiner.jpg" alt="" /></div>
                                        <div class="name">— Helen Floyd, Art Director</div>
                                        <p>
                                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et
                                            tortor ac tincidunt.
                                            In euismod
                                            iaculis lobortis. Vestibulum posuere molestie ipsum vel. Vestibulum
                                            venenatis vestibulum elit
                                            ultricies.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et
                                            tortor ac tincidunt.
                                            In euismod
                                            iaculis lobortis. Vestibulum posuere molestie ipsum vel."
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>    -->

                <!-- Section Contacts -->
                <div class="section contacts1" id="contact-section">
                    <div class="title">Contact Me</div>
                    <div class="row">
                        <div class="col">
                            <div class="content-box animated">
                                <div class="info-list">
                                    <ul>
                                        <!-- <li><strong><span>Address:</span></strong> 358 W Jefferson St, Bensenville, IL 60112</li> -->
                                        <li><strong><span>Celular:</span></strong> <a href="tel:12562548456">+51 997 072 900</a></li>
                                        <li><strong><span>E-mail:</span></strong> <a href="mailto:smorgan@domain.com">breinerbca2015@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer>
                <div class="copy">© 2022 Breiner Roiser Correa Atucsa.</div>
            </footer>

        </div>
    </div>
</div>