.image-br{
    width: 30px;
    font-size: 4px !important;
    color: white;
}

.st-image-br{
    margin-top: -30px;
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 20px;
}

.st-title-br{
    margin-bottom: 20px;
}

.st-subtitle-br{
    margin-bottom: 20px;
}

.st-soc-br{
    margin-bottom: 20px;
}


.padre {
    width  : 100%;
    display: flex;
}

.hijo {
    margin-top: 4% !important;
    width     : 100%;
}

@media (max-width: 540px) {

    /*CERTIFICADOS*/
    .certificado:first-child {
        margin-top: 20px ;
    }

    .certificado {
        margin-bottom: 50px;
    }

    .certificado:last-child {
        margin-bottom: 0px;
    }

    .title-skills{
        margin-bottom: 20px;
    }
}