<nav style="z-index: 1000;" class="navbar navbar-expand-lg navbar-dark bg-dark float-lg-right float-md-right float-sm-left">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center text-lg-right">
                <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" routerLink="/perfil" routerLinkActive="active">Mi perfil</a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/portafolio" routerLinkActive="active">Portafolio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cuadroPagina breinerColor">

    <header>

        <img src="assets/images/d.jpg" style="margin-top: -52px;height: 350px; position: relative;opacity:0.4;" class="imagen" alt="" />
        <img src="assets/images/breiner.jpg" class="imgRedonda" />

        <div class="letraRelativa">
            <h1 style="color: white;">Breiner Correa Atucsa</h1>
            <h3 style="color: white;font-weight: bold;box-shadow: 2px 2px 5px #999;">Programador Web</h3>
            <h3 style="color: white;">breiner.correa@unmsm.edu.pe</h3>
        </div>

    </header>
</div>

<!-- Informacion Personal -->
<div class="breinerColor pb-5">
    <!-- <div class="border border-dark bg-info"> -->
    <div class="row ">
        <div class="col-lg-6 col-sm-12">

            <div class="row">
                <div class="col-lg-0 col-md-1 col-sm-0"></div>
                <div class="col-lg-5 col-md-2 col-sm-12">
                    <div class="row justify-content-center">
                        <div class="align-self-center text-center">
                            <img style="margin-right: 100px;margin-top: -20px;" src="assets/images/unmsm.png" class="imgRedonda2" />
                            <div class="ml-5"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <h1>Universidad Mayor</h1>
                    <h1>de San Marcos</h1>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-sm-12 text-center">

            <h4>Systems Engineering study.</h4>
            <h4>I am passionate about web development,</h4>
            <h4>being self-taught for 2 years.</h4>
            <h4>CV: <a href="assets/CV.pdf" download>Descargar</a></h4>

        </div>
    </div>
</div>

<!-- Niveles de Conocimiento -->
<div class="breinerColor pt-4">
    <!-- <div class="border border-dark bg-dark pt-4"> -->

    <div class="row justify-content-center h-100">
        <div class="col-7 align-self-center text-center">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <span class="purple bloqueo">E</span>
                    <li class="lia bloqueo">Experto</li>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <span class="blue bloqueo">A</span>
                    <li class="lia bloqueo">Avanzado</li>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <span class="green bloqueo">I</span>
                    <li class="lia bloqueo">Intermedio</li>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <span class="yellow bloqueo">N</span>
                    <li class="lia bloqueo">Novato</li>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SKILLS -->
<div class="breinerColor pt-4">
    <!-- <div class="border border-dark bg-dark pt-4"> -->

    <!-- style="background-color: #343a40;" -->
    <div class="agrandar">
        <div class="container ">
            <div class="row">


                <!-- ======================================== -->
                <!-- ========LENGUAJES=============== -->
                <!-- ======================================== -->

                <div class="col-lg-6 col-sm-12 lengujes">
                    <div class="row">
                        <div class="float-left mr-3">
                            <!-- <div class="col-sm-4"> -->
                            <img src="assets/images/languajes.png" alt="languajes" class="iconos" />
                        </div>
                        <div class="col">
                            <h1 class="titulo">Languages</h1>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>Java</p>
                            </div>
                            <div class="union">
                                <span class="green float-left">I</span>
                                <p>Javascript</p>
                            </div>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>Node js</p>
                            </div>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>html</p>
                            </div>

                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>css</p>
                            </div>
                            <div class="union">
                                <span class="green float-left">I</span>
                                <p>Python</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ======================================== -->
                <!-- ========FRAMEWORKS=============== -->
                <!-- ======================================== -->
                <div class="col-lg-6 col-sm-12 frameworks">
                    <div class="row">
                        <div class="float-left mr-3">
                            <img src="assets/images/network.png" alt="languajes" class="iconos" />
                        </div>
                        <div class="col">
                            <h1 class="titulo">Frameworsk</h1>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p> Angular</p>
                            </div>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>Spring</p>
                            </div>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>Express</p>
                            </div>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>Bootstrap</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                <!-- ======================================== -->
                <!-- ========Databases=============== -->
                <!-- ======================================== -->

                <div class="col-lg-6 col-sm-12 databases">
                    <div class="row">
                        <div class="float-left mr-3">
                            <img src="assets/images/database.png" alt="languajes" class="iconos" />
                        </div>
                        <div class="col">
                            <h1 class="titulo">Databases</h1>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>MongoDB</p>
                            </div>
                            <div class="union">
                                <span class="green float-left">I</span>
                                <p>Mysql</p>
                            </div>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>Sql Server</p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ======================================== -->
                <!-- ========INFRAESTRUCTURAS=============== -->
                <!-- ======================================== -->
                <div class="col-lg-6 col-sm-12 infraestructura">
                    <div class="row">
                        <div class="float-left mr-3">
                            <img src="assets/images/server.png" alt="languajes" class="iconos" />
                        </div>
                        <div class="col">
                            <h1 class="titulo">InfraEstructuras</h1>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p> Heroku</p>
                            </div>
                            <div class="union">
                                <span class="green float-left">I</span>
                                <p>Firebase</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <!-- ======================================== -->
                <!-- ========OS=============== -->
                <!-- ======================================== -->

                <div class="col-lg-6 col-sm-12 os">
                    <div class="row">
                        <div class="float-left mr-3">
                            <img src="assets/images/software.png" alt="languajes" class="iconos" />
                        </div>
                        <div class="col">
                            <h1 class="titulo">Os</h1>
                            <div class="union">
                                <span class="blue float-left">A</span>
                                <p>Windows</p>
                            </div>
                            <div class="union">
                                <span class="yellow float-left">I</span>
                                <p>Ubuntu</p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ======================================== -->
                <!-- ========SOFT SKILLS=============== -->
                <!-- ======================================== -->
                <div class="col-lg-6 col-sm-12 skills">
                    <div class="row">
                        <div class="float-left mr-3">
                            <img src="assets/images/topic.png" alt="languajes" class="iconos" />
                        </div>
                        <div class="col">
                            <h1 class="titulo" style="color: yellow;">Soft skills</h1>
                            <div class="union">
                                <p> Dinámico </p>
                            </div>
                            <div class="union">
                                <p>Responsable</p>
                            </div>
                            <div class="union">
                                <p> Proactivo </p>
                            </div>
                            <div class="union">
                                <p>Comunicador</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="breinerColor">
    <hr class="">
    <h1 class="text-center mb-5">Mis Proyectos</h1>
    <div class="container-lg ">

        <div class="row">

            <!-- Primer row -->
            <div *ngFor="let slide of carrusel; let j = index" class="col-lg-6 col-md-6 p-3">
                <div class="card animated fadeIn bg-dark text-light border border-light">
                    <!-- Carrusel -->
                    <div>
                        <div id="carouselExampleFade{{j}}" class="carousel slide carousel-fade" data-ride="carousel">
                            <!-- ng - for -->
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let imagen of slide.imagenes; let i = index" class="{{ i == 0 ? 'active' : '' }}">

                                    <img class="text-ligth" style="height: 200px;" class="d-block w-100 " src="{{imagen}}" alt="gggg">

                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleFade{{j}}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only text-dark">Previous</span>
                            </a>
                            <a class="carousel-control-next " href="#carouselExampleFade{{j}}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                                <span class="sr-only text-dark">Next</span>
                            </a>
                        </div>

                    </div>
                    <!-- detalles -->



                    <div class="card-body">
                        <h3 class="card-title">Proyecto adidas</h3>
                        <p class="card-text">Este proyecto es una réplica de la empresa Adidas en la cual generamos las vistas para el usuario y para un administrador </p>
                        <h5>Spring y Angular</h5>
                        <button type="button" (click)="verProducto(j)" class="btn btn-outline-primary btn-block">
                             Ver más...
                        </button>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<div class="bg-dark">
    <!-- <div class="border border-dark bg-info"> -->
    <footer class="text-white text-center ">
        <div class="row">
            <div class="col">

                <h3>Contacto</h3>
                <!-- Grid column -->
                <div>

                    <p>
                        <!-- Facebook -->
                        <a href='https://www.facebook.com/breiner.correaatucsa.1/' class="fb-ic">
                            <i class="fab fa-facebook-f text-white mr-4 "> </i>
                        </a>

                        <!--Instagram-->
                        <a href='https://www.instagram.com/breiner_correa/' class="ins-ic ">
                            <i class="fab fa-instagram text-white "> </i>
                        </a>
                    </p>


                    <p class="ins-ic ">
                        <i class="fas fa-phone mr-3 "></i> + 51 997 072 900
                    </p>
                    <p class="ins-ic ">
                        <i class="fas fa-envelope mr-3 "></i> breiner.correa@unmsm.edu.pe
                    </p>

                </div>
                <!-- Grid column -->

            </div>
        </div>
    </footer>
</div>