<div>
  <div class="image">
    <a href="#popup-{{orden}}" class="has-popup"><img src="{{proyecto.imagen}}" style="height: 200px;" alt="" /></a>
  </div>
  <div class="content-box">
    <div class="category">{{proyecto.nombre}}aaaa</div>
    <a href="#popup-{{orden}}" class="name has-popup">{{proyecto.lengua}}</a>
    <p>
      {{proyecto.descripcion}}
    </p>
  </div>
  <div id="popup-{{orden}}" class="popup-box mfp-fade mfp-hide">
    <div class="content">
      <div class="image">
        <img src="{{proyecto.imagen}}"  alt="">
      </div>
      <div class="desc">
        <div class="category">{{proyecto.nombre}}</div>
        <h4>{{proyecto.lengua}}</h4>
          <p>
            {{proyecto.descripcion}}
          </p>
          <a href="#" class="btn btn_animated"><span class="circle">View Project</span>
          </a>
      </div>
    </div>
  </div>
</div>





