<div>
    <div class="content-box animated" style="margin-bottom: 20px;">
        <div class="i_title">
            <!-- <i class="fa-regular fa-cloud"></i> -->
           
            <div class="icon">

                <!-- <img src="../assets/imagenes/skills/java-brands.svg" alt="languajes" style="width: 30px !important; height: 40px;margin-top: -5px;"/> -->
                <!-- <img src="../assets/imagenes/skills/js-brands.svg" alt="languajes" style="width: 30px !important; height: 30px;"/> -->
                <!-- <img  src="../assets/imagenes/skills/cloud-solid.svg" alt="languajes" style="width: 45px !important; height: 30px;"/> -->
                <!-- <img src="../assets/imagenes/skills/database.png" alt="languajes" style="width: 30px !important; height: 30px;"/> -->

                <img  src="{{servicio.icono}}" alt="languajes" style="{{servicio.estilo}}"/>
            </div>


            <img src="{{servicio.img}}" style="width: 300px;height: 200px;margin-top: 20px;" alt="">
            <div class="name">{{servicio.nombre}}</div>
        </div>
        <p>
            {{servicio.descripcion}}
        </p>
        <ul>
            <li>{{servicio.descripcion}}</li>
            <li>{{servicio.descripcion}}</li>
        </ul>
    </div>
</div>