<div>
    <div class="cd-timeline-point">
        <i class="icon ion ion-ios-checkmark-empty"></i>
    </div>
    <div class="cd-timeline-content">
        <div class="content-box">
            <div class="date">{{item.anio}} </div>
            <div class="name"  style="color: #304fff;"><h3>{{item.centroTrabajo}}</h3></div>
            <div class="category">{{item.puesto | uppercase}}</div>
            <p *ngFor="let descripcion of item.descripcion" style="display: block;">
                {{descripcion}}
            </p>

            <h4 style="color: #304fff;margin-top: 4px;">Tecnologias</h4>
            <p>
                {{item.tecnologia}}
            </p>
        </div>
    </div>
</div>