<div>
    <div class="cd-timeline-point">
        <i class="icon ion ion-ios-checkmark-empty"></i>
    </div>
    <div class="cd-timeline-content">
        <div class="content-box">
            <div class="date">{{item.anio}}</div>
            <div class="name">{{item.centroTrabajo}}</div>
            <div class="category">{{item.puesto}}</div>
            <p>
                {{item.descripcion}}
            </p>
            <p>
                {{item.tecnologia}}
            </p>
        </div>
    </div>
</div>